@import url(__button/popup__button.css);
@import url(__close-button/popup__close-button.css);
@import url(__content/popup__content.css);
@import url(__title/popup__title.css);
@import url(__form/_job/popup__form_job.css);
@import url(__form/_name/popup__form_name.css);

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}