.element__like {
  background-color: transparent;
  width: 21px;
  height: 18px;
  border: none;
  background-image: url(../../../images/element__like.svg);
  align-self: center;
  margin-bottom: 3px;
  transition: 0.3s;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.6;
}