.popup__title {
  font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
margin-left: 36px;
margin-top: 34px;
margin-bottom: 39px;
}
  
@media screen and (max-width: 580px) {
  .popup__title {
    max-width: 50vw;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 34px;
    margin-left: 40px;
  }
}